.Content {
  width: 736px;
  display: flex;
  margin: 12px;
  align-items: center;
  justify-content: center;
}

.ContentDiv {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 20px;
  background-color: var(--Gray-500);
  color: var(--Gray-100);
  width: 100%;
}

.ContentDivCompleted {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 20px;
  background-color: var(--Gray-500);
  color: var(--Gray-100);
  width: 100%;
}

.ContentDiv p {
  flex: 1;
}

.ContentDivCompleted p {
  text-decoration: line-through;
  opacity: 0.5;
}

.tresh {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
