.tasksEmpty {
  margin-top: 64px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.taskTopCenter {
  display: flex;
  width: 736px;
  justify-content: space-between;
  padding-bottom: 12px;
}

.tasksCreate {
  color: var(--Blue);
  font-weight: bold;
}

.tasksCompleted {
  color: var(--Purple);
  font-weight: bold;
}
