.header {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--Gray-700);
}

.inputAndButton {
  display: flex;
  justify-content: center;
  margin-top: -28px;
}

.inputSize {
  display: flex;
  width: 736px;
  justify-content: space-between;
}

.inputSize input {
  height: 54px;
  width: 638px;
  padding: 16px;
  border-radius: 8px;
  color: var(--Gray-300);
  background-color: var(--Gray-500);
  border: 1px solid var(--Gray-700);
}

.inputSize button {
  cursor: pointer;
  background-color: var(--BlueDark);
  color: var(--Gray-100);
  display: flex;
  width: 90px;
  height: 100%;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.contentTask {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
