header {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--Gray-700);
}

.InputAndButton {
  display: flex;
  justify-content: center;
  margin-top: -28px;
}

.InputSize {
  display: flex;
  width: 736px;
  justify-content: space-between;
}

.InputSize input {
  height: 54px;
  width: 638px;
  padding: 16px;
  border-radius: 8px;
}

.InputSize button {
  display: flex;
  width: 90px;
  height: 100%;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
